
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Show - </title>
</head>
<% include partials/header %>
<body>
	<h1><%= campground.name %></h1>
	<img src="<%= campground.imageurl %>" alt="">
	<p><%= campground.desc %></p>
</body>
<% include partials/footer %>
</html>

